# Maven projects
/target
/commons/target
/metrix-integration/target
/mapping/target
/distribution/target

# CMake projects
/build/
/thirdparty/build/

# IntelliJ
/.idea
*.iml

# Eclipse projects
.classpath
.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.groovy.core.prefs
