# Maven projects
/target
/metrix-integration/target
/metrix-mapping/target
/metrix-tools/target
/metrix-distribution/target

# CMake projects
/build/
/thirdparty/build/

# IntelliJ
/.idea
*.iml

# Eclipse projects
.classpath
.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.groovy.core.prefs

# Generated readthedocs pages
build-docs/

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
